body {
    margin: 0;
    padding: 0;
}


.Controls{
    font-size:16px;
    background-color: rgb(241, 241, 241);
    position: fixed;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
 }

.Canvas{
    position: absolute;
 }

.PropTitle{
    color: rgb(155, 155, 155);
    font-family: sans-serif;
 }
 
.PropField{
     margin: 10px;
 }

.PropId{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.PropValue{
    color: rgb(60, 153, 220);
    font-family: sans-serif;
    /*white-space: pre-wrap;*/
    cursor: pointer;
}

.PropValue:hover{
    color: rgb(37, 101, 174);
    
}

